@charset 'utf-8';

#gallery {
	&::after {
		content: "";
		display: block;
		clear: both;
	}
	article {
		width: 25%;
		box-sizing: border-box;
		float: left;
		padding: 15px;

		.inner {
			width: 100%;
			box-sizing: border-box;
			padding: 10px;
			border-bottom: 1.5px solid #555;

			.pic {
				width: 100%;
				height: 250px;
				background: #555;
				margin-bottom: 20px;
                transition: 0.7s;
                opacity: 1;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;                    
				}

                &:hover{
                    opacity: 0.6;
                    cursor: pointer;                    
                    transform: scale(0.99);
                }
			}

			>h2 {
				font: 13px/1 "본고딕";
				color: #444;
				height: 30px;
			}
		}
	}
}

#imgPop {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	z-index: 5;
	background: #f0e6de;
	box-sizing: border-box;
	padding: 10vw;

	.pic {
		width: 100%;
		height: 100%;
		background: #f0e6de;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	span {
		font: bold 14px/1 "본고딕";
		color: #635146;
		position: absolute;
		bottom: 7vw;
		right: 7vw;
		cursor: pointer;
	}
}
